extends common/layout.pug

block opengraph
  include common/mixin
  - var title = 'GPU用TensorFlowのソースビルド。インストール'
  - var description = 'CUDAが有効なNVidia製グラフィックカードを使ってTensorFlowを高速化。ソースインストールの手順を説明します。'
  - var c_path = '/Machine-Learning/deeplearning-by-tensorflow-with-gpu.html'
  - var keywords = 'Deep Learning, Neural Network, TensorFlow, Machine Learning, CUDA, nVidia'
  +opengraph-meta(title, description, c_path, keywords)

block title
  title GPU用TensorFlowのソースビルド・インストール

block article
  include articles/deeplearning-by-tensorflow-with-gpu.pug

block expand-flag-deeplearning-by-tensorflow
  .dpln-expand