extends common/layout.pug

block opengraph
  include common/mixin
  - var title = 'TensorFlow Playgroundの仕組み'
  - var description = 'TensorFlow Playgroundの仕組みを30ページほどの文量で解説します。'
  - var c_path = '/Machine-Learning/index.html'
  - var keywords = 'Deep Learning, Neural Network, TensorFlow, Playground, Machine Learning, Regularization, Input layer, Input Feature, Noise, Training data, Activation function, Batch size, Back Propagation'
  +opengraph-meta(title, description, c_path, keywords)

block title
  title TensorFlow Playgroundの仕組み

block article
  include articles/learntensorflowplayground.pug

block expand-flag-learntensorflowplayground
  .dpln-expand