extends common/layout.pug

block opengraph
  include common/mixin
  - var title = '機械学習のための数学'
  - var description = '機械学習を理解するために必要な数学を解説します。'
  - var c_url = 'https://hinaser.github.io/Machine-Learning/math-for-ml.html'
  - var keywords = 'TensorFlow, Machine Learning, Math, Mathematics'
  +opengraph-meta(title, description, c_url, keywords)

block title
  title 機械学習のための数学

block article
  include articles/math-for-ml.pug

block expand-flag-math-for-ml
  .dpln-expand