extends common/layout.pug

block opengraph
  include common/mixin
  - var title = '独り言'
  - var description = '日々感じる個人的な独り言メモ'
  - var c_url = 'https://hinaser.github.io/Machine-Learning/private-thoughts.html'
  - var keywords = 'Thoughts, Tweets'
  +opengraph-meta(title, description, c_url, keywords)

block title
  title 独り言

block article
  include articles/private-thoughts

block expand-flag-misc
  .dpln-expand