extends common/layout.pug

block opengraph
  include common/mixin
  - var title = 'プロフィール'
  - var description = '本サイトの著者のプロフィールです'
  - var c_url = 'https://hinaser.github.io/Machine-Learning/profile.html'
  - var keywords = 'TensorFlow, Machine Learning, Profile'
  +opengraph-meta(title, description, c_url, keywords)

block title
  title プロフィール

block article
  include articles/profile.pug

block expand-flag-misc
  .dpln-expand