html
  head(lang='ja')
    body
      .dpln-layout.top-header-left-nav-layout.fixed-top
        main.dpln-layout-main
          article.main-article(data-page='test')
      //uncache
      script(src='js/main.js', data-turbolinks-track='reload')
      //enduncache
