.main-article.code-samples
  .mjx-math
    font-size 18px

  table
    border-collapse collapse
    margin-bottom 15px
    font-size 14px
    tr
      td
        border 1px solid gray

  .nn-image
    max-width 600px
    img
      width 100%

  .source-code
    margin-bottom: 20px