.main-article.code-samples
  .mjx-math
    font-size 18px

  table
    border-collapse collapse
    margin-bottom 15px
    font-size 14px
    tr
      td
        border 1px solid gray

  .nn-image
    max-width 600px
    img
      width 100%

  .source-code
    margin-bottom: 20px

  code
    white-space pre-line
  code + p
    margin-top 16px
  .code
    background-color rgba(0,0,0,.7)
    white-space pre-line
    padding 10px
    border-radius 6px
    margin-bottom 16px
    color rgba(255,255,255,.6)
  .code.file-edit
    color rgba(255,255,255,.9)
  code.code
    margin-left 10px
    margin-right 10px
    padding 10px 10px
    border-radius 3px
    color rgba(255,255,255,.9)

  .console-output
    background-color rgba(0,0,0,.7)
    color rgba(255,255,255,.6)
    padding 20px
    border-radius 6px
  .console-output + p
    margin-top 16px