.main-article[data-page='deeplearning-by-tensorflow']
  img.tensorflow-logo
    width 200px
  table.install-environment
    border-collapse collapse
    margin-bottom 16px
    td
      padding 7px !important
    td:first-child
      border-right 1px solid #999
    tr:not(:first-child):not(:last-child)
      border-top 1px solid #999
      border-bottom 1px solid #999
  code
    white-space pre-line
  code + p
    margin-top 16px
  .code
    background-color rgba(0,0,0,.7)
    white-space pre-line
    padding 10px
    border-radius 6px
    margin-bottom 16px
    color rgba(255,255,255,.6)
  .code.file-edit
    color rgba(255,255,255,.9)
  code.code
    margin-left 10px
    margin-right 10px
    padding 3px 10px
    border-radius 3px
    color rgba(255,255,255,.9)
  span.user-input
    color rgba(255,255,255,.9)
    font-style italic
  .indent
    margin-left 40px
  span.strike-through
    text-decoration line-through
    color rgba(255,255,255,.8)
