.main-article[data-page='how-to-use-tensorboard']
  .mjx-math
    font-size 18px

  code
    white-space pre-line
  code + p
    margin-top 16px
  .code
    background-color rgba(0,0,0,.7)
    white-space pre-line
    padding 10px
    border-radius 6px
    margin-bottom 16px
    color rgba(255,255,255,.6)
  .code.file-edit
    color rgba(255,255,255,.9)
  code.code
    margin-left 10px
    margin-right 10px
    padding 10px 10px
    border-radius 3px
    color rgba(255,255,255,.9)

  .graph-image
    max-width 600px
    img
      width 100%