*
  box-sizing border-box

body
  margin 0
  min-height auto !important
  font-family "Noto Sans Japanese"

table
  font-family "Noto Sans Japanese"

.dpln-layout.fixed-top
  header.dpln-layout-header
    border 1px solid rgba(0,0,0,0.3)
    box-shadow 0 2px 4px rgba(0,0,0,.2)
    background url('../image/header.jpg') center/cover
    color white
    position fixed
    top 0
    left 0
    height header-height
    width 100%
    z-index 1000
    line-height 64px
    font-size 24px
    padding-left 30px

    .site-title
      display inline
      line-height 64px
      transition all 0.4s ease
      position absolute
      top 0
      margin-left 312px
      font-size 28px

    i#toggle-nav
      visibility hidden
      opacity 0
      font-size 48px
      line-height header-height
      transition 0.4s all ease

    @media only print
      display none

  nav.dpln-layout-nav
  //border 1px solid rgba(0,0,0,0.3)
  //background-color #FAFAFA
  //box-shadow 2px 0 4px rgba(0,0,0,.2)
    position fixed
    top header-height
    left 0
    height "calc(100% - %s)" % header-height
    width nav-width
    overflow-y auto
    z-index 999
    transition 0.4s all ease
    padding 15px

    @media only print
      display none

    figure.collapsible
      margin 0 0 0 0
      figcaption
        font-size 16px
        margin-left 0
        padding 12px
        .menu-title
          cursor pointer
          transition 0.2s all ease
        button
          opacity 0
        button.dpln-visible
          opacity 1
        @media(min-width wide-content-min-width)
          .menu-titlehover
            background-color rgba(158,158,158,.2)
      ul
      //transition 0.4s all ease
        max-height 0
        list-style none
        margin -15px 0 0 0
        padding 0
        overflow-y hidden
        li
          font-size 14px
          margin-left 20px
          transition all 0.2s ease
        @media(min-width wide-content-min-width)
          lihover
            background-color rgba(158,158,158,.2)

      .dpln-expand + ul
        max-height 1000px
        padding-bottom 15px

    figure.collapsiblelast-child
      margin-bottom 15px

  main.dpln-layout-main
  //border 1px solid rgba(0,0,0,0.3)
    margin header-height 0 0 nav-width
    padding 15px 30px
    transition 0.4s all ease

    @media only print
      margin 15px 0 15px 0

    a.in-page-anchor
      display block
      position relative
      top -(header-height + 15px)
      visibility hidden

    h1
      font-size 32px
    h2
      font-size 28px

    table
      td
        padding 3px

    details
      margin-bottom 16px
      summary
        cursor pointer

    .article-metadata
      margin-bottom 20px
      &after
        clear both
        content ''
        display table
      #post-date
        float left
        height 30px
        line-height 30px
        span
          margin-left 10px

      #post-date i,
      #post-date span
        display inline-block
        line-height 24px
        vertical-align middle
        font-size 24px

      #author
        float left
        height 30px
        line-height 30px
        margin-left 20px
        span
          margin-left 10px

      #author i,
      #author span
        display inline-block
        line-height 24px
        vertical-align middle
        font-size 24px

      a.header-logo-invertocat
        line-height 30px
        display inline-block
        vertical-align middle
        margin-left 20px

      @media only print
        &::after
          clear both
          content ''
          display table
        .author-external-profile, .social-share
          display none

    @media(max-width: page-min-width)
      span.author-external-profile
        display block
        clear left
        &::after
          clear both
          display table
          content ''
        a.header-logo-invertocat
          display block
          float left
          margin-left 0
        a.header-logo-invertocat + a
          display block
          float left
          margin-left 20px
      span.social-share
        display block
        clear left
        margin-top 10px

    img
      padding 10px

@media (max-width wide-content-min-width)
  .dpln-layout.fixed-top
    header.dpln-layout-header
      .site-title
        margin-left 20px

      i#toggle-nav
        visibility visible
        cursor pointer
        opacity 1
    nav.dpln-layout-nav
      border 1px solid rgba(0,0,0,0.3)
      background-color #FAFAFA
      box-shadow 2px 0 4px rgba(0,0,0,.2)
      left -1 * nav-width
      border-color transparent
      figure.collapsible
        background white
        box-shadow 2px 2px 4px rgba(0,0,0,.2)
        border-top 1px solid rgba(200,200,200,.7)
        border-right 1px solid rgba(200,200,200,.7)
        border-left 1px solid rgba(200,200,200,.7)
        figcaption
          padding 6px 12px
        ul
          transition 0.4s all ease
          margin 0
      figure.collapsiblefirst-child
        border-radius 5px 5px 0 0;
      figure.collapsiblelast-child
        border-bottom 1px solid rgba(200,200,200,.7)
        border-radius 0 0 5px 5px;
    main.dpln-layout-main
      margin-left 0

  .dpln-layout.fixed-top.dpln-collapse
    nav.dpln-layout-nav
      left -1 * nav-width
      box-shadow 0 0 0 transparent
      border-color transparent
    main.dpln-layout-main
      margin-left 0

  .dpln-layout.fixed-top.dpln-expand
    nav.dpln-layout-nav
      left 0
      box-shadow 2px 0 4px rgba(0,0,0,.2)
      border 1px solid rgba(0,0,0,0.3)
    main.dpln-layout-main
      margin-left 0

@media(max-width smallest-width)
  .site-title
    width 0
    opacity 0
