.main-article[data-page='page-learntensorflowplayground']
  #img-backprop, #img-regularization
    cursor pointer
    transition all 0.4s ease
    max-width page-min-width

  #img-backprop:hover, #img-regularization:hover
    background-color black
    opacity 0.2

  @media(max-width: page-min-width)
    img, #img-backprop, #img-regularization
      max-width 100%
      margin-left auto
      margin-right auto

  details#regard-nn-as-func
    padding-left 40px

  details#regard-nn-as-func summary
    margin-bottom 10px

  details#chain-rule
    padding-left 40px

  details#chain-rule summary
    margin-bottom 10px

  table#input-features
    border-collapse collapse
    margin-bottom 15px

  table#input-features thead tr td
    border-bottom 1px solid gray

  .material-icons
    .md-18
      font-size 18px
    .md-24
      font-size 24px
    .md-36
      font-size 36px
    .md-48
      font-size 48px

  .paragraph + .paragraph
    margin-top 40px

  .paragraph i
    color gray

  table#input-dataset-table
    border-collapse collapse
    margin-bottom 15px
    tbody td
      border-top 1px solid gray
    thead tr td:nth-child(2)
      border-left 1px solid gray
    .input-classification td
      border-top 1px solid gray
      padding 7px
    .dataset-graph
      text-align center
      border-left 1px solid gray
      @media(max-width: page-min-width)
        img
          max-width unset
    .dataset-description
      min-width 300px
    .input-regression td
      padding 7px

  table
    &.activators
      border-collapse collapse
      table-layout fixed
      thead
        td
          border-bottom 1px solid gray
          white-space nowrap
          width 1px
          padding 10px !important
          &:nth-child(2)
            padding-left 20px
      td
        white-space nowrap
        width 1px
        padding 0 10px 0 10px !important
        &:not(:last-child)
          border-right 1px solid gray
      tr
        &:not(:last-child)
          td
            border-bottom 1px solid gray
      span
        &.mjx-chtml
          margin-left 0 !important


@media only print
    .doc-header > a, .doc-header > span
      display none

