// Global style

// Variables
header-height = 64px
nav-width = 360px
page-min-width = 800px

wide-content-min-width = nav-width + page-min-width

*
  box-sizing: border-box

body
  margin: 0
  font-family: "Noto Sans Japanese";

table
  font-family: "Noto Sans Japanese";

.dpln-layout.fixed-top
  header.dpln-layout-header
    border: 1px solid rgba(0,0,0,0.3)
    box-shadow: 0 2px 4px rgba(0,0,0,.2)
    background: url('../image/header.jpg') center/cover
    color: white
    position: fixed
    top: 0
    left: 0
    height: header-height
    width: 100%
    z-index: 1000
    line-height: 64px
    font-size: 24px
    padding-left: 40px

    i#toggle-nav
      visibility: hidden
      opacity: 0
      float: right
      margin-right: 40px
      font-size: 48px
      line-height: header-height
      transition: 0.4s all ease

  nav.dpln-layout-nav
    border: 1px solid rgba(0,0,0,0.3)
    position: fixed
    top: header-height
    left: 0
    height: "calc(100% - %s)" % header-height
    width: nav-width
    box-shadow: 2px 0 4px rgba(0,0,0,.2)
    overflow-y: auto
    z-index: 999
    transition: 0.4s all ease
    background-color: #FAFAFA

  main.dpln-layout-main
    border: 1px solid rgba(0,0,0,0.3)
    margin: header-height 0 0 nav-width
    padding: 15px
    transition: 0.4s all ease

@media (max-width: wide-content-min-width)
  .dpln-layout.fixed-top
    header.dpln-layout-header
      i#toggle-nav
        visibility: visible
        cursor: pointer
        opacity: 1
    nav.dpln-layout-nav
      width: 0
      box-shadow: 0 0 0 transparent
      border-color: transparent
    main.dpln-layout-main
      margin-left: 0

  .dpln-layout.fixed-top.dpln-collapse
    nav.dpln-layout-nav
      width: 0
      box-shadow: 0 0 0 transparent
      border-color: transparent
      opacity: 0
    main.dpln-layout-main
      margin-left: 0

  .dpln-layout.fixed-top.dpln-expand
    nav.dpln-layout-nav
      width: nav-width
      box-shadow: 2px 0 4px rgba(0,0,0,.2)
      border: 1px solid rgba(0,0,0,0.3)
      opacity: 1
    main.dpln-layout-main
      margin-left: 0

