// Global style

// Variables
header-height = 64px
nav-width = 360px
page-min-width = 800px
smallest-width = 600px
wide-content-min-width = nav-width + page-min-width

@import layout
@import learntensorflowplayground
@import reference
@import useful-tools-and-services
@import deeplearning-by-tensorflow
@import math-for-ml
@import profile