bar-height = 60px
bar-width = 600px
separator-width = 6px
connector-area-height = bar-height

.main-article[data-page='math-for-ml']
  .MJXc-display
    font-size 20px
  .paragraph
    padding-left 20px
    > h4
      margin-left -20px

  ul.features
    padding-left 20px
    list-style: square

  .entropy-demo
    position relative
    user-select none
    margin 60px 0 80px 0

    .mjx-chtml
      line-height bar-height
      display inline !important

    .probability-bar
      border 1px solid black
      width bar-width + separator-width * 4
      height bar-height
      box-sizing content-box
      position relative
      margin 20px 0

      .each-prob
        float left
        height 100%
        text-align center
        line-height bar-height
        position relative
        width (bar-width / 5)

        &.p1
          width (bar-width / 100 * 70)
        &.p2
          width (bar-width / 100 * 7.5)
        &.p3
          width (bar-width / 100 * 7.5)
        &.p4
          width (bar-width / 100 * 7.5)
        &.p5
          width (bar-width / 100 * 7.5)

        .prob-val
          position absolute
          text-align center
          top bar-height + 20px
          left 0
          right 0
          height 30px
          line-height 30px

      .prob-separator
        box-sizing border-box
        cursor col-resize
        float left
        margin-top -20px
        height bar-height + 20px + 20px
        border-left separator-width solid rgba(200,200,100,0.7)
        width separator-width

      .entropy-val
        position absolute
        left bar-width + separator-width * 4 + 40px
        line-height bar-height

    .probability-bar + .probability-bar
      margin-top connector-area-height

    .line-between-entropy
      position relative

      svg
        width bar-width + separator-width * 4
        height connector-area-height
      .cross-entropy-val
        position absolute
        top 0
        left bar-width + separator-width * 4 + 40px
        line-height (connector-area-height / 2)
        height connector-area-height

        .mjx-chtml
          line-height (bar-height / 3)
