.main-article[data-page='math-for-ml']
  .MJXc-display
    font-size 20px
  .paragraph
    padding-left 20px
    > h4
      margin-left -20px

  ul.features
    padding-left 20px
    list-style: square
