.main-article[data-page='useful-tools-and-services']
  .list-of-tools-and-services
    @media(min-width: page-min-width)
      width page-min-width
    @media(max-width: page-min-width)
      width 100%
      margin-left auto
      margin-right auto

    .row
      .column
        padding 7px
        float left

      .column.brand-logo
        width 64px
        padding 0
        vertical-align top
        img
          width 100%
      .column.title
        width 30%
        vertical-align top
      .column.description
        vertical-align top
        width calc(70% - 64px)

      @media(max-width: page-min-width)
        .column.description
          clear both
          width 100%

      &::after
        clear both
        display table
        content ''

      &:not(:first-child)
        .column
          padding-top 15px