link(rel='icon', type='image/png', href='favicon.png')
meta(charset='utf-8')
meta(name='viewport', content='width=1024')
meta(name='keywords', content='neural networks,machine learning,math')
meta(property='og:type', content='article')
meta(property='og:title', content='機械学習とディープラーニング')
meta(property='og:description', content='ブラウザでニューラルネットワークを作りながら学ぶ機械学習')
meta(property='og:url', content='http://learntensorflowplayground.net')
meta(property='og:image', content='http://learntensorflowplayground.net/preview.png')
meta(name='twitter:card', value='summary_large_image')
meta(name='twitter:title', content='誰でもわかる機械学習とディープラーニング')
meta(name='twitter:description', content='')
meta(name='twitter:url', content='http://learntensorflowplayground.net')
meta(name='twitter:image', content='http://learntensorflowplayground.net/preview.png')
meta(name='twitter:image:width', content='1200')
meta(name='twitter:image:height', content='630')
meta(name='author', content='Hinase')
title 機械学習とディープラーニング
link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500|Material+Icons', rel='stylesheet', type='text/css')
link(href='https://fonts.googleapis.com/earlyaccess/notosansjapanese.css', rel='stylesheet')
link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
link(rel='stylesheet', href='css/lib.css', type='text/css')
link(rel='stylesheet', href='css/main.css', type='text/css')
script(type='text/javascript', async='', src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML')
script(type='text/x-mathjax-config').
  MathJax.Hub.Config({
  tex2jax: {
  inlineMath: [['$','$']],
  processEscapes: true
  },
  CommonHTML: {matchFontHeight: false },
  displayAlign: "left",
  displayIndent: "2em"
  });
script#st_insights_js(type='text/javascript', src='http://w.sharethis.com/button/buttons.js?publisher=8fde68e6-f234-4808-b7ab-c498ac41fe48')
script(type='text/javascript').
    stLight.options({
        publisher: "8fde68e6-f234-4808-b7ab-c498ac41fe48",
        doNotHash: true,
        doNotCopy: true,
        hashAddressBar: false
    });
script(src='js/lib.js')
script(src='js/main.js')
