figure.collapsible(data-page='learntensorflowplayground')
  figcaption
    span.menu-title
      | TensorFlow Playgroundの仕組み
    button.mdl-button.mdl-js-button.mdl-button--icon
      i.material-icons keyboard_arrow_down
  block expand-flag-learntensorflowplayground
  ul
    li
      a(href='index.html#preface-part') はじめに
    li
     a(href='index.html#reference-part') 参考文献
    li
      a(href='index.html#summary-part') Playgroundの仕組み
    li
      a(href='index.html#learningsettings-part') ニューラルネットワークについて
    li
      a(href='index.html#about-learning-in-nn-part') ニューラルネットワークの学習に関する設定
    li
      a(href='index.html#learningrate-part') 学習率
    li
      a(href='index.html#activator-part') 活性化関数
    li
      a(href='index.html#regularization-part') 正則化、正則化項
    li
      a(href='index.html#problemtype-part') 統計モデルの種類
    li
      a(href='index.html#inputdata-part') データに関する設定
    li
      a(href='index.html#dataselection-part') どのデータセットを使うか
    li
      a(href='index.html#ratio-of-training-data-part') トレーニングデータの割合
    li
      a(href='index.html#noise-part') ノイズ
    li
      a(href='index.html#batchsize-part') バッチサイズ
    li
      a(href='index.html#feature-part') 入力するデータの特徴と隠し層
    li
      a(href='index.html#backpropagation-part') バックプロパゲーション(誤差逆伝搬法)

figure.collapsible(data-page='deeplearning-by-tensorflow')
  figcaption
    span.menu-title
      | TensorFlowでディープラーニング
    button.mdl-button.mdl-js-button.mdl-button--icon
      i.material-icons keyboard_arrow_down
  block expand-flag-deeplearning-by-tensorflow
  ul
    li
      a(href='deeplearning-by-tensorflow.html') TensorFlowのインストール
    li
      a(href='deeplearning-by-tensorflow-with-gpu.html') TensorFlowのインストール(GPU利用編)

figure.collapsible(data-page='math-for-ml')
  figcaption
    span.menu-title
      | 機械学習のための数学
    button.mdl-button.mdl-js-button.mdl-button--icon
      i.material-icons keyboard_arrow_down
  block expand-flag-math-for-ml
  ul
    li
      a(href='math-for-ml.html') はじめに
    li
      a(href='math-for-ml.html#random-variable') 確率変数
    li
      a(href='math-for-ml.html#probability-distribution') 確率分布
    li
      a(href='math-for-ml.html#pmf') 離散確率分布
    li
      a(href='math-for-ml.html#pdf') 連続確率分布
    li
      a(href='math-for-ml.html#expectation') 期待値
    li
      a(href='math-for-ml.html#self-information') 自己情報量
    li
      a(href='math-for-ml.html#entropy') エントロピー
    li
      a(href='math-for-ml.html#kl-divergence') KL情報量
    li
      a(href='math-for-ml.html#cross-entropy') クロスエントロピー
    li
      a(href='math-for-ml.html#logits') ロジット
    li
      a(href='math-for-ml.html#softmax') ソフトマックス関数
    li
      a(href='math-for-ml.html#sigmoid') シグモイド関数
    li
      a(href='math-for-ml.html#multiclass-classification') 多クラス分類
    li
      a(href='math-for-ml.html#multilabel-classification') マルチラベル分類

figure.collapsible(data-page='["profile", "reference", "useful-tools-and-services", "private-thoughts"]')
  figcaption
    span.menu-title
      | その他
    button.mdl-button.mdl-js-button.mdl-button--icon
      i.material-icons keyboard_arrow_down
  block expand-flag-misc
  ul
    li
      a(href='profile.html') 著者プロフィール
    li
      a(href='reference.html') 参考サイト集
    li
      a(href='useful-tools-and-services.html') お世話になっているツール/サービス
    li
      a(href='private-thoughts.html') 独り言
