include ../common/mixin

article.main-article(data-page='deeplearning-by-tensorflow')
  a#preface-part.in-page-anchor
  h1 TensorFlowのインストール
  +article-header('----/--/--')

  .paragraph
    h4 環境
    p
      | TensorFlowをインストールするOS周りの環境