article.main-article(data-page='private-thoughts')
  h1#preface-part(data-paragraph='') 独り言
  p
    | 無責任で個人的な独り言。内容は精査していませんし、整理・推敲もしません。
    | 個人的なメモをなんのまとまりもなく書いていきます。
  ul
    li
      | 数学はいきなり抽象概念の理解から初めると難しい。
      | TypicalかつPopular、身近で具体的な例から考えはじめてそこから
      | 抽象化して一般化する流れで勉強しないと頭がこんがらがってわけのわからないことになる。
    li
      | 数学の勉強のために教科書を読むと現実感のない公理、定義、たくさんの補題を機械的に読んで理解することが
      | 求められるが非常に時間がかかりあまり好きではない。本を書く側の人からすれば整理されたフォーマットで
      | 数学のルールだけを順番に羅列していけば文句がつきづらく楽であることはわかるが、読む側は正直たまったものではない。
    li
      | 日本人である自分としては非常に残念だが、日本語の数学のテキストを読むより英語のテキストを読むほうが圧倒的に理解しやすい。
      | 理由を考えてみたが、概念を修飾する表現が非常に豊富だからかなと思う。
      | 単語としての形容詞の種類が豊富なだけでなく、
      | シンプルな単語を組み合わせて豊富なバリエーションの表現を的確に作り出すことができる点が有利なのだろうと思う。
    li
      | 頭でなんとなく理解していることでも文章にして公開すると一気に緊張感が増す。
      | 自信満々で嘘を書いてないか、誤った情報を広めていないか。

  +disqus()