article.main-article(data-page='profile')
  a#profile-part.in-page-anchor
  h1#preface-part(data-paragraph='') 著者プロフィール
  p
    | 1985年生まれ。 2008年東京工業大学理学部卒業。同年米系SIerにアプリケーションエンジニアとして入社。
    br
    | 7年ほど通信事業者向けシステム開発案件に従事。
    | モバイル端末プラットフォームの開発保守、およびビッグデータインフラ基盤の構築、ビッグデータ分析提案などを担当。
    | 現在は金融財務データを扱う会社に勤務。
  p
    | 将来的にディープラーニングで大量の金融・財務データを解析しそれらデータの機械学習的な特徴を見つけたり、高い精度での業績予測、株価予測
    | を可能にしたいと考えています。
    br
    | 前日までの大量の株価データや大量の指数データを組み合わせ、従来の金融アナリストが行っている定性的な経済分析に
    | 機械学習で定量的な分析を付け加えることができたらなと夢見ています。
    br
    | AIアナリストが作れれば楽しいだろうなあ。

  h6 趣味
  p
    | 米国のメジャーリーグ観戦が好きで、最近は1〜2年に一度の割合でアメリカに旅行して試合観戦しています。
    img.mlb-spring-training-2016(src='image/profile/mlb-spring-training-2016.jpg', alt='Sprint training 2016 in Arizona')
    br
    | 2017年3月現在訪れたことのある球場
    br
    | 西海岸: AT&T Park(SF), O.co Coliseum(A's), Dodger Stadium(LAD), Angel Stadium(LAA), Petco Park(SD)
    br
    | 内陸: 無し
    br
    | 東海岸: Citi Field(NYM), Citizens Bank Park(PHI), Oriole Park at Camden Yards(BOL)
  p
    | 英語圏の国で生活したことがないので英語に苦労しています。読むのは慣れてきたけどしゃべるのがね。。
    br
    | アメリカに行く時は「英語？テキトーテキトー」なノリでなんとか乗り切っています。