article.main-article(data-page='profile')
  a#profile-part.in-page-anchor
  h1#preface-part(data-paragraph='') 著者プロフィール
  p
    | 1985年生まれ 2008年 東京工業大学理学部卒業 同年米系SIerにアプリケーションエンジニアとして入社
    br
    | 7年ほど通信企業向けシステム開発案件に従事。
    | 携帯電話Eメール基盤システムの開発保守および、
    br
    | HP Vertica, Tableauを使ったビッグデータインフラ基盤の構築、ビッグデータ分析提案などを担当。
    br
    | 現在は上記企業から転職し、金融財務データを扱う会社のデータ事業部に所属。

