include ../common/mixin

article.main-article(data-page='reference')
  a#profile-part.in-page-anchor
  h1 参考サイト集

  .reference
    .website-thumbnail
      img(src='http://3.bp.blogspot.com/-m90zG1Qb7vc/Vel5wAn_isI/AAAAAAAARGE/iSOuuYWUXUA/s1600-r/CloudPlatform_128px_Retina.png')
    .website-title
      a(href='https://cloudplatform-jp.googleblog.com/2016/07/tensorflow-playground.html', target='_blank')
        | TensorFlow Playgroundでわかるニューラルネットワーク
    .website-url
      a(href='https://cloudplatform-jp.googleblog.com/2016/07/tensorflow-playground.html', target='_blank')
        | https://cloudplatform-jp.googleblog.com/2016/07/tensorflow-playground.html
    .website-tags
      span.tag.t-deeplearning ディープラーニング
      span.tag.t-tensorflow TensorFlow
      span.tag.t-japanese 日本語
    .website-summary
      p
        | Googleの佐藤氏によるTensorFlow Playgroundを使った機械学習解説サイト
        | イラストや直感的な説明をふんだんに使い、非常にわかりやすくディープラーニングを解説している。
        | 著者がTensorFlowのエバンジェリストであることから、その普及に対する熱意が大きい。
        | このページの他にもGoogleとTensorFlowや機械学習の関わりなど非常に興味深い記事を多数
        | 執筆されている。

  .reference
    .website-thumbnail
      img(src='image/reference/neuralnetworksanddeeplearning.com.png')
    .website-title
      a(href='http://neuralnetworksanddeeplearning.com/index.html', target='_blank')
        | Neural Network and Deep Learning
    .website-url
      a(href='http://neuralnetworksanddeeplearning.com/index.html', target='_blank')
        | http://neuralnetworksanddeeplearning.com/index.html
    .website-tags
      span.tag.t-deeplearning ディープラーニング
      span.tag.t-english 英語
    .website-summary
      p
        | Micheal Nielsen氏による非常に丁寧でわかりやすいニューラルネットワークの解説サイト。
        | ニューラルネットワークによる機械学習の理論的背景をわかりやすい数式で丁寧に解説してくれている。
        | 英語で書かれているが、文量が豊富であり直感的な説明を重視しているのでディープラーニング
        | 初学者には最適なテキスト。偏微分が出てくるので理系向けの内容である。逆に言えば
        | 偏微分程度の事前知識さえあればゼロからでもニューラルネットによる機械学習が理解できてしまう。
        | 説明がわかりやすいとはいえ、3,4日ですべて読みきれると思わないほうが良い。

  .reference
    .website-thumbnail
      img(src='image/reference/www.deeplearningbook.org.png')
    .website-title
      a(href='http://www.deeplearningbook.org/', target='_blank')
        | Deep Learning An MIT Press book Ian Goodfellow and Yoshua Bengio and Aaron Courville
    .website-url
      a(href='http://www.deeplearningbook.org/', target='_blank')
        | http://www.deeplearningbook.org/
    .website-tags
      span.tag.t-deeplearning ディープラーニング
      span.tag.t-english 英語
    .website-summary
      p
        | Micheal Nielsen氏の直感的な説明では物足りなくなった人はこちらのサイトを参考にすると良い。
        | 線形代数を用いてより厳密にディープラーニングを説明している。
        | 2017年2月時点で米amazonの機械学習分野でベストセラーになっていた。
        | 難解な記述が多いため、数学に自身がある人向け。研究者のためのテキストといったところか。
        | ディープラーニングの専門家を名乗るなら、このサイトレベルの質問が飛んできたらすらすら答えられなければならないだろう。

  .reference
    .website-thumbnail
      img(src='image/reference/www.tensorflow.org.png')
    .website-title
      a(href='https://www.tensorflow.org/install/install_sources', target='_blank')
        | Installing TensorFlow from Sources
    .website-url
      a(href='https://www.tensorflow.org/install/install_sources', target='_blank')
        | https://www.tensorflow.org/install/install_sources
    .website-tags
      span.tag.t-tensorflow TensorFlow
      span.tag.t-english 英語
    .website-summary
      p
        | TensorFlowのソースからのインストールを解説しているTensorFlowのオフィシャルサイト。

  .reference
    .website-thumbnail
      img(src='http://ufldl.stanford.edu/wiki/skins/common/images/dolphin-openclipart.png')
    .website-title
      a(href='http://ufldl.stanford.edu/wiki/index.php/UFLDL_Tutorial', target='_blank')
        | Unsupervised Feature Learning and Deep Learning Tutorial
    .website-url
      a(href='http://ufldl.stanford.edu/wiki/index.php/UFLDL_Tutorial', target='_blank')
        | http://ufldl.stanford.edu/wiki/index.php/UFLDL_Tutorial
    .website-tags
      span.tag.t-deeplearning ディープラーニング
      span.tag.t-english 英語
    .website-summary
      p
        | ディープラーニングの大家Andrew Ng氏による機械学習の解説サイト。 スタンフォード大学のサブドメイン上にサイトが存在することから
        | 同学の学生向けに用意した教育資料を一般公開したものだと思われる。

  .reference
    .website-thumbnail
      img(src='https://www.ucf.edu/wp-content/uploads/2015/06/ucf.png')
    .website-title
      a(href='http://ial.eecs.ucf.edu/Reading/Papers/TensorFlow_Tutorial.pdf', target='_blank')
        | TensorFlow Tutorial by Astrid Jackson
    .website-url
      a(href='http://ial.eecs.ucf.edu/Reading/Papers/TensorFlow_Tutorial.pdf', target='_blank')
        | http://ial.eecs.ucf.edu/Reading/Papers/TensorFlow_Tutorial.pdf
    .website-tags
      span.tag.t-tensorflow TensorFlow
      span.tag.t-english 英語
    .website-summary
      p
        | TensorFlowを計算グラフの図を使って解説しているUniv of Central Floridaのサイト。
        | 図が多く文量が少ないため、俯瞰的、直感的なTensorFlowの理解に非常に役立つ。

  .reference
    .website-thumbnail
      img(src='https://avatars1.githubusercontent.com/u/5948390?v=3&s=460')
    .website-title
      a(href='https://ujjwalkarn.me', target='_blank')
        | the data science blog
    .website-url
      a(href='https://ujjwalkarn.me', target='_blank')
        | https://ujjwalkarn.me
    .website-tags
      span.tag.t-deeplearning ディープラーニング
      span.tag.t-cnn CNN
      span.tag.t-english 英語
    .website-summary
      p
        | FacebookのデータサイエンティストKarn氏による機械学習の解説サイト。特に
        a(href='https://ujjwalkarn.me/2016/08/11/intuitive-explanation-convnets/', target='_blank') CNN(Convolutional Neural Network)
        | のページにおいてアニメーションで畳み込みの原理を直感的に解説しており、非常に理解がしやすい。

  .reference
    .website-thumbnail
      img(src='https://colah.github.io/posts/2015-08-Understanding-LSTMs/img/RNN-rolled.png')
    .website-title
      a(href='https://colah.github.io', target='_blank')
        | Colah's Blog
    .website-url
      a(href='https://colah.github.io', target='_blank')
        | https://colah.github.io
    .website-tags
      span.tag.t-deeplearning ディープラーニング
      span.tag.t-rnn RNN
      span.tag.t-deeplearning 英語
    .website-summary
      p
        | こちらも非常に詳しく大量の説明でディープラーニングを解説している。
        | LSTM(RNNの一種)について説明している
        a(href='https://colah.github.io/posts/2015-08-Understanding-LSTMs', target='_blank') Understanding LSTM Networks
        | のページをよく参考にさせてもらっている。

  .reference
    .website-thumbnail
      img(src='https://grzegorzgwardys.files.wordpress.com/2016/04/cropped-mirror4.jpg')
    .website-title
      a(href='https://grzegorzgwardys.wordpress.com/2016/04/22/8/', target='_blank')
        | Convolutional Neural Networks backpropagation: from intuition to derivation - Grzegorz Gwardys -
    .website-url
      a(href='https://grzegorzgwardys.wordpress.com/2016/04/22/8/', target='_blank')
        | https://grzegorzgwardys.wordpress.com/2016/04/22/8/
    .website-tags
      span.tag.t-deeplearning ディープラーニング
      span.tag.t-cnn CNN
    .website-summary
      p
        | 畳み込みニューラルネットCNNにおけるバックプロパゲーションの仕組みを解説しているサイト。
        | 通常のニューラルネットのニューロン間の関係を変形することでCNNにおけるバックプロパゲーションを説明しようとしている。
        | 上にも挙げたMicheal Nielsen氏のサイトの説明、記法を受け継いでいるので、氏のサイトを読んだあとにこのサイトを
        | 読むと理解がより良く進む。

  //-
    .reference
      .website-thumbnail
        img(src='image/reference/')
      .website-title
        a(href='', target='_blank')
          |
      .website-url
        a(href='', target='_blank')
          |
      .website-tags
        span.tag.t-xxxxxxxxx
      .website-summary
        p
          |

  +disqus()