article.main-article(data-page='page-reference')
  a#profile-part.in-page-anchor
  h1 参考サイト集

  .reference
    .website-thumbnail
      img(src='http://3.bp.blogspot.com/-m90zG1Qb7vc/Vel5wAn_isI/AAAAAAAARGE/iSOuuYWUXUA/s1600-r/CloudPlatform_128px_Retina.png')
    .website-title
      a(href='https://cloudplatform-jp.googleblog.com/2016/07/tensorflow-playground.html', target='_blank')
        | TensorFlow Playgroundでわかるニューラルネットワーク
    .website-url
      a(href='https://cloudplatform-jp.googleblog.com/2016/07/tensorflow-playground.html', target='_blank')
        | https://cloudplatform-jp.googleblog.com/2016/07/tensorflow-playground.html
    .website-tags
      span.tag.t-deeplearning ディープラーニング
      span.tag.t-tensorflow TensorFlow
      span.tag.t-japanese 日本語
    .website-summary
      p
        | Googleの佐藤氏によるTensorFlow Playgroundを使った機械学習解説サイト
        | イラストや直感的な説明をふんだんに使い、非常にわかりやすくディープラーニングを解説している。
        | 著者がTensorFlowのエバンジェリストであることから、その普及に対する熱意が大きい。
        | このページの他にもGoogleとTensorFlowや機械学習の関わりなど非常に興味深い記事を多数
        | 執筆されている。

  .reference
    .website-thumbnail
      img(src='image/reference/neuralnetworksanddeeplearning.com.png')
    .website-title
      a(href='http://neuralnetworksanddeeplearning.com/index.html', target='_blank')
        | Neural Network and Deep Learning
    .website-url
      a(href='http://neuralnetworksanddeeplearning.com/index.html', target='_blank')
        | http://neuralnetworksanddeeplearning.com/index.html
    .website-tags
      span.tag.t-deeplearning ディープラーニング
      span.tag.t-english 英語
    .website-summary
      p
        | Micheal Nielsen氏による非常に丁寧でわかりやすいニューラルネットワークの解説サイト。
        | ニューラルネットワークによる機械学習の理論的背景をわかりやすい数式で丁寧に解説してくれている。
        | 英語で書かれているが、文量が豊富であり直感的な説明を重視しているのでディープラーニング
        | 初学者には最適なテキスト。偏微分が出てくるので理系向けの内容である。逆に言えば
        | 偏微分程度の事前知識さえあればゼロからでもニューラルネットによる機械学習が理解できてしまう。
        | 説明がわかりやすいとはいえ、3,4日ですべて読みきれると思わないほうが良い。

  .reference
    .website-thumbnail
      img(src='image/reference/www.deeplearningbook.org.png')
    .website-title
      a(href='http://www.deeplearningbook.org/', target='_blank')
        | Deep Learning An MIT Press book Ian Goodfellow and Yoshua Bengio and Aaron Courville
    .website-url
      a(href='http://www.deeplearningbook.org/', target='_blank')
        | http://www.deeplearningbook.org/
    .website-tags
      span.tag.t-deeplearning ディープラーニング
      span.tag.t-english 英語
    .website-summary
      p
        | Micheal Nielsen氏の直感的な説明では物足りなくなった人はこちらのサイトを参考にすると良い。
        | 線形代数を用いてより厳密にディープラーニングを説明している。
        | 2017年2月時点で米amazonの機械学習分野でベストセラーになっていた。
        | 難解な記述が多いため、数学に自身がある人向け。研究者のためのテキストといったところか。
        | ディープラーニングの専門家を名乗るなら、このサイトレベルの質問が飛んできたらすらすら答えられなければならないだろう。

  .reference
    .website-thumbnail
      img(src='image/reference/www.tensorflow.org.png')
    .website-title
      a(href='https://www.tensorflow.org/install/install_sources', target='_blank')
        | Installing TensorFlow from Sources
    .website-url
      a(href='https://www.tensorflow.org/install/install_sources', target='_blank')
        | https://www.tensorflow.org/install/install_sources
    .website-tags
      span.tag.t-tensorflow TensorFlow
      span.tag.t-english 英語
    .website-summary
      p
        | TensorFlowのソースからのインストールを解説しているTensorFlowのオフィシャルサイト。
