include ../common/mixin

article.main-article(data-page='useful-tools-and-services')
  a#preface-part.in-page-anchor
  h1 お世話になっているツール/サービス

  .list-of-tools-and-services
    .row
      .column.brand-logo
        img(src='https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png' alt='')
      .column.title
        a(href='https://pages.github.com/')
          | Github Pages
      .column.description
        | このWebサイトを無料でホスティングしてくれているサイト。
        | https://<ユーザ名>.github.io/<レポジトリ名> でGithubレポジトリ上のhtmlファイル、css/javascriptファイルを
        | ユーザに配信してくれる。
    .row
      .column.brand-logo
        img(src='http://design.ubuntu.com/wp-content/uploads/ubuntu-logo32.png' alt='')
      .column.title
        a(href='https://www.ubuntu.com/desktop')
          | Ubuntu 16.04 LTS Desktop
      .column.description
        | このWebサイトを無料でホスティングしてくれているサイト。
        | https://<ユーザ名>.github.io/<レポジトリ名> でGithubレポジトリ上のhtmlファイル、css/javascriptファイルを
        | ユーザに配信してくれる。
    .row
      .column.brand-logo
        img(src='https://unetbootin.github.io/screenshot1.jpg' alt='')
      .column.title
        a(href='https://unetbootin.github.io/')
          | UNetbootin
      .column.description
        | USBやDVDディスクなしでWindowsマシンにデュアルブート用のLinuxをインストールするために必要なツール。
        | TensorFlowを作業用Windowsマシン上の仮想マシンではなく物理マシンで動かしたかったため利用させていただいた。
        | ただ、この作業はOSブートの仕組みにある程度理解がないとOSが起動できなくなる可能性が高い危険な作業であり、万人にはおすすめできない。
        | 時間があればやり方を解説する予定。
    .row
      .column.brand-logo
        img(src='https://confluence.jetbrains.com/download/attachments/20237/RUBYDEV?version=2&modificationDate=1449748395000&api=v2' alt='')
      .column.title
        a(href='https://www.jetbrains.com/pycharm/')
          | RubyMine
      .column.description
        | JetBrain社製の統合開発環境(IDE)。その名前からRuby専用の開発ツールに見られがちだがプラグインを導入すれば
        | Node.jsなど様々な言語の開発に使用できる。このWebサイトの作成にこのツールを使っている。ちなみに筆者はサブスクリプション契約を購入し
        | 年間およそ1万円の利用料を支払っているが、多少値上げしても即決で契約更新するレベルで重宝している。
    .row
      .column.brand-logo
        img(src='https://d3nmt5vlzunoa1.cloudfront.net/pycharm/files/2015/12/PyCharm_400x400_Twitter_logo_white.png' alt='')
      .column.title
        a(href='https://www.jetbrains.com/pycharm/')
          | PyCharm
      .column.description
        | JetBrain社製のPythonの統合開発環境(IDE)。Pythonのコーディングはこの統合開発環境上で行っている。Ruby統合開発環境のRubyMineとは異なり、
        | こちらは個人開発者向けは基本無料で提供されている。
    .row
      .column.brand-logo
        img(src='https://raw.githubusercontent.com/gulpjs/artwork/master/community/alt-logo/gulpjs.png' alt='')
      .column.title
        a(href='http://gulpjs.com/')
          | Gulp
      .column.description
        | いわゆるタスクランナーと呼ばれるツール。主にNode.jsのソースコードのビルドを自動化するために導入した。



//-
  .row
    .column.brand-logo
      img(src='' alt='')
    .column.title
      a(href='')
        |
    .column.description
      |
      |
      |
